/* You can add global styles to this file, and also import other style files */
@import '~normalize.css';
@import '~reset-css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 900px;
  margin: 0 auto;
  text-align: center;
}
